* {
    margin: 0;
    padding: 0;
    font-family: 'Sarabun';
}

body {
  overflow: hidden;
}

  .heroBg {
    width: 100%;
    height: 100vh;
  }
  
  .container {
    position: absolute;
    width: 77%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h2.wlc {
  font-size: 50px;
  font-weight: 700;
}

h1.title {
  font-size: 70px;
  font-weight: 900;
}

  video {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    /* background-color: #000000cc; */
  }
