/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .container {
  position: flex;
  
}

.heroBanner {
  position: center;
  text-align: center;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: black;
  color: aliceblue;
  height: auto; /* Adjust height based on content */
}

.hero__image {
  max-width: 70%;  /* Ensure it does not exceed the container width */
  max-height: 100px;  /* Maximum height */
  width: auto;  /* Maintain aspect ratio */
  height: auto;  /* Maintain aspect ratio *//* Scale height automatically */
  object-fit: contain;  /* Prevents image distortion *//* Ensure the image fits without being cut */
}

:root.p {
    text-align: justify;
  }

.hero__title, .hero__subtitle {
  position: relative; /* Use relative positioning */
  padding: 0 20px; /* Add padding for better spacing */
}

/* Responsive text sizes */
@media (max-width: 768px) {
  .hero__title {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }

  .hero__subtitle {
    font-size: 1.25rem; /* Smaller font size for mobile */
  }

  .p {
    font-size: 0.9rem; /* Smaller paragraph size */
  }
}

/* Specific adjustments for smaller screens */
@media (max-width: 768px) {
  .heroBanner {
    padding: 20px 0; /* Add some padding on smaller screens */
  }

  .hero__image {
    max-height: 50vh; /* Smaller height on mobile devices */
  }
}

/* .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
} */

