/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  /* sidebar font color*/
    --ifm-color-primary: #000000;
    --ifm-color-primary: #000000;
    --ifm-color-primary-dark: #000000;
    --ifm-color-primary-darker: #000000;
    --ifm-color-primary-darkest: #000000;
    --ifm-color-primary-light: #000000;
    --ifm-color-primary-lighter: #000000;
    --ifm-color-primary-lightest: #000000;
}

/* Footer colors */
:root {.footer {
  --ifm-footer-background-color: #fef8f8;
  --ifm-footer-title-color:#000000;
  --ifm-footer-link-color: #000000;
  --ifm-footer-link-hover-color: #000000;
  }
}

/* dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fef8f8;
  --ifm-color-primary-dark: #f8cccc;
  --ifm-color-primary-darker: #f5b6b6;
  --ifm-color-primary-darkest: #eb7474;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
}

/* Font Size */
@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

/* Import Custom Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Change Site Font Settings */
:root {
  --ifm-font-family-base: 'Sarabun';
  --ifm-font-family-monospace: 'Sarabun';
}

:root {
  --ifm-heading-font-family: 'Sarabun';
  --ifm-font-weight:700
}

/* Header Dropdown Menu */
.dropdown__link {
  font-size: inherit;
}

/* Remove shadow on the left */
:root {
  --ifm-global-shadow-md: 2.5rem;
}

img {
  max-width: 100%;
}

/*img + em {
	/* style your captions here
}/*

/*Adjust image position markdown![](image.png#left*/
/* img[src*='#left'] {
  float: left;
}
img[src*='#right'] {
  float: right;
}
img[src*='#center'] {
  display: block;
  margin: auto;
} */