/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #fef8f8;
  --ifm-background-surface-color:#19181a;
  --ifm-background-color:#501;
  --ifm-code-font-size: 90%;
}

/* base font color - page headings*/
:root {
  --ifm-font-color-base: #fef8f8;
}

/* right hand table of contents */
.table-of-contents__link {
  color: var(--ifm-toc-link-color)#fef8f8;
}

.table-of-contents__link--active {
  color: var(--ifm-toc-link-color--active)#fef8f8;
}

/* sidebar baground color */
.theme-doc-sidebar-container {
  background-color:#19181a;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #ffffff;
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
}

/* Font Size */
@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 20px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 20px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

/* Import Custom Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Change Site Font Settings Here */
:root {
  --ifm-font-family-base: 'Sarabun';
  --ifm-font-family-monospace: 'Sarabun';
}

:root {
  --ifm-heading-font-family: 'Sarabun';
  --ifm-font-weight:700
}

/* Header Dropdown Menu */
.dropdown__link {
  font-size: inherit;
}

/* Remove shadow on the left */
:root {
  --ifm-global-shadow-md: 0px;
}

/* Styles to avoid dangling floating images */
.clear, h2, h3 {
  clear: both;
}

img {
  max-width: 100%;
}

/*img + em {
	/* style your captions here
}/*

/*Adjust image position markdown![](image.png#left*/
/* img[src*='#left'] {
  float: left;
}
img[src*='#right'] {
  float: right;
}
img[src*='#center'] {
  display: block;
  margin: auto;
} */